{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content" >
            <h1>User creation</h1>
                {{ form_start(form) }}
                     {{ form_widget(form) }}
                     <a href="{{ path('homepage') }}" class="btn btn-primary">Back</a>
                    <input class="btn btn-success" type="submit" value="Create" />
                {{ form_end(form) }}

    </div>
{% endblock %}
