{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">

<form name="authenticate" class="form-horizontal" action="{{ path('security_login') }}" method="post">

<h1>Login</h1>
<input type="text" id="user_email" placeholder="Email" name="_username">
<input type="password" id="password" placeholder="Password" name="_password">
<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
<a class="btn btn-primary" href="{{ path('homepage') }}">Cancel</a>
<button type="submit" class="btn btn-success">Login</button>
</form>
{% endblock %}